<div class='modal fade gongzhonghao-edit-modal margin-top-80' data-backdrop='static' role='dialog' data-keyboard='false'>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header'>
				<button class='close'>
                    	<i class='fa fa-times'></i> 
                	</button>
				<h4 class='modal-title text-primary'>
						<strong>修改公众号</strong>
					</h4>
			</div>
			<div class='modal-body'>
				<form role="form" name="gongzhonghaoEditForm" ng-submit="submit(gongzhonghaoEditForm.$valid)" novalidate>
					<div  ng-class="{ 'has-error' : gongzhonghaoEditForm.tnickname.$invalid && !gongzhonghaoEditForm.tnickname.$pristine }">
						<label class="text-muted">公众号</label>
						<input ng-disabled="edit" type="text" class="form-control" placeholder="请输入公众号" name="tnickname" ng-model="selectedData.tnickname" required ng-pattern="/^[^\s]+$/">
						<p ng-show="gongzhonghaoEditForm.tnickname.$invalid && !gongzhonghaoEditForm.tnickname.$pristine" class="help-block">公众号不能为空或有空格</p>
					</div>
					<p></p>
					<div class="form-group" ng-class="{ 'has-error' : gongzhonghaoEditForm.tnicknameUrl.$invalid && !gongzhonghaoEditForm.tnicknameUrl.$pristine}">
						<label class="text-muted">公众号URL</label>
						<input type="url" class="form-control " placeholder="请输入公众号链接" name="tnicknameUrl" ng-model="selectedData.tnicknameUrl" required ng-pattern="/(http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&amp;:/~\+#]*[\w\-\@?^=%&amp;/~\+#])?/">
						<p ng-show="gongzhonghaoEditForm.tnicknameUrl.$invalid && !gongzhonghaoEditForm.tnicknameUrl.$pristine" class="help-block">公众号链接地址不合法（合法例子 http://www.baidu.com）</p>
					</div>
					<button type="submit" class="btn btn-primary ok" ng-disabled="gongzhonghaoEditForm.$invalid">确定</button>
				</form>
			</div>
			<!--<div class='modal-footer'>
					<button class='btn btn-primary ok' ng-click="editData()">确定</button>
					<button class='btn btn-default cancle'>取消</button>
				</div>-->
		</div>
	</div>
</div>