.front-panel-title {
  font-size: 16px;
  font-weight: bold; }

.front-read-avator {
  width: 50px;
  height: 50px; }

.front-like-avator {
  width: 50px;
  height: 50px; }

.front-hot-num {
  color: #fff;
  background: #06b04f;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px; }

.front-neirong-img {
  width: 80px;
  height: 60px;
  display: block; }

.front-neirong-title {
  width: 75%; }

.front-read-li:not(:first-child), .front-neirong-li:not(:first-child), .front-shoucang-li:not(:first-child), .front-like-li:not(:first-child) {
  padding-top: 10px; }

.front-read-li:not(:last-child), .front-neirong-li:not(:last-child), .front-shoucang-li:not(:last-child), .front-like-li:not(:last-child) {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px; }

@charset "UTF-8";
/**
 * 标签默认样式
 */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Microsoft YaHei","Microsoft YaHei", Verdana, sans-serif, "SimSun"; }

li {
  list-style-type: none; }

.clearfix {
  clear: both; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.margin-bottom-15 {
  margin-bottom: 15px; }

.margin-top-5 {
  margin-top: 5px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-top-80 {
  margin-top: 80px; }

.text-indent-2 {
  text-indent: 2rem; }

.alert-modal-content {
  font-size: 15px;
  font-weight: bold; }

.font-size-16 {
  font-size: 16px; }

.line-height-22 {
  line-height: 22px; }

.line-height-30 {
  line-height: 30px; }

.loading-modal .modal-dialog {
  width: 100px; }

.p-table > tbody > tr td, .p-table > tbody > tr th {
  min-width: 80px;
  max-width: 160px;
  vertical-align: middle; }

